    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Helvetica;
    }

    body {
        height: 100vh;
        width: 100%;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    .logo>img {
        height: 100px;
        width: 300px;
    }

    .regBox {
        /* height: 800px; */
        width: 450px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 10px;
        background-color: white;
        padding: 15px;
    }

    .content>h2 {
        font-size: 25px;
        text-align: center;
        margin-bottom: 5px;
    }

    .content>p {
        text-align: center;
        color: gray;
        margin-bottom: 10px;
    }

    .inputs {
        margin-top: 10px;
        height: 40px;
        display: flex;
        gap: 10px;
    }

    .inputs>input {
        width: 50%;
        border-radius: 6px;
        padding-left: 8px;
        border: 0.5px solid gray;
    }

    .inputs>input:focus {
        outline: none;
        border: 1px solid #0866ff;
    }

    .inputPass {
        position: relative;
    }

    .dob>p {
        color: gray;
        margin-top: 10px;
        font-size: 12px;
        margin-bottom: 10px;
    }

    .dateOfBirthBox {
        /* background-color: black; */
        height: 40px;
        width: 100%;
        display: flex;
        gap: 15px;
    }

    .dateOfBirthBox>select {
        height: 100%;
        width: 31%;
        font-size: 16px;
        border-radius: 6px;
        padding-left: 3px;
    }

    .dateOfBirthBox>select:focus {
        outline: none;
        border: 1px solid #0866ff;
    }

    .genderBox {
        height: 40px;
        display: flex;
        gap: 20px;
        justify-content: space-between;
    }

    .male,
    .female,
    .other {
        border: 0.5px solid gray;
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 6px;
    }

    .male > label,
    .female >label,
    .other >label {
        display: flex;
        gap: 50px;
    }


    .emailPass {
        margin-top: 20px;
        height: 80px;
    }

    .emailPass>input {
        width: 100%;
        height: 50%;
        margin-bottom: 10px;
        font-size: 16px;
        border-radius: 6px;
        padding-left: 3px;
    }

    .emailPass>input:focus {
        outline: none;
        border: 1px solid #0866ff;
    }

    .emailPass>input {
        border: 1px solid gray;
    }

    .lastContent {
        margin-top: 25px;
        font-size: 13px;
        color: gray;
    }

    .lastContent>p {
        margin-bottom: 7px;
    }

    .register {
        width: 100%;
        height: 50px;
        margin: 10px auto;
        display: flex;
        justify-content: center;
    }

    .register>button {
        background-color: #42b72a;
        width: 50%;
        height: 100%;
        border-radius: 6px;
        border: none;
        color: white;
        font-size: 18px;
        font-weight: 600;
        cursor: pointer;
    }

    .register>button:hover {
        background-color: #358825;
    }

    .register>button>a {
        text-decoration: none;
        color: white;
    }

    .alreadyAcc {
        text-align: center;
    }

    .alreadyAcc>a:hover {
        color: #0866ff;
        text-decoration: underline;
    }

    .alreadyAcc>a {
        text-decoration: none;
        color: gray;

    }

    @media only screen and (max-width:425px) {
        .regBox {
            width: auto;
        }
    }